input{
	width: 20% !important;
}

.loader{
	margin-top: -3rem;
	margin-left: -9rem;
}
.loader img{
	width: 400px;
	height: 250px;
}

.loader2{
	margin-top: 3rem;
	margin-left: 3rem;	
}

.loader2 img{
	width: 80px;
	height: 50px;
}

.pagination{
	margin-top: -2rem;
}

.disabled{
  cursor: not-allowed !important;
}

.page-item{
	cursor: pointer;
}
